.recipe-card {
    width: calc(25% - 20px); /* Adjust based on your design */
    margin: 0 10px 20px 10px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.recipe-card .card-body {
    padding: 1.25rem; /* Adjust padding */
    width: 100;
}

.recipe-card-title {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.recipe-card-calories {
    font-size: 0.875rem;
    color: #777;
    margin-bottom: 1rem;
}


.image {
    border-radius: 10px; 
    margin:0px 0px 20px 0px; 
    height: 250px;
    width: 250px;
    object-fit: cover; /* Maintain aspect ratio */

}

.title-container { 
    background-color: #E9E3FF;
    border: red;
    border-style: dotted;
    width: 100%;
}