
.sidebar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h5 {
    text-align: center;
    margin-top: 15px;
    color: white;
    font-size: 23px;
}

.mealType {
    margin-bottom: 30px;
    margin-top: 30px;
}

.dishType {
    margin-bottom: 30px;
}

.cuisineType {
    margin-bottom: 30px;
}

.btn-custom {
    background-color: #FFFFFF;
    color: black; 
    width: 200px;
    transition: background-color 0.3;
    
}

.btn-custom:hover {
    background-color: #F94A7C;
}

.btn-custom:active {
    background-color: #F94A7C;
}